<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CaldovaDb" connectionString="Server=sqlserver,1433;Database=CaldovaDB;User Id=sa;Password=Caldova123!;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" />
    <httpHandlers>
      <add verb="GET" path="health" type="CaldovaDrugPricingService.HealthHandler" />
    </httpHandlers>
  </system.web>
  <location path="health">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <services>
      <service name="CaldovaDrugPricingService.DrugPricingService" behaviorConfiguration="DrugPricingServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="CaldovaDrugPricingService.IDrugPricingService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DrugPricingServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <add name="HealthHandler" path="health" verb="GET" type="CaldovaDrugPricingService.HealthHandler" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
